.add-manual-container {
    justify-content: center;
    padding: 2rem;
    background: white;
    color: #333;
    border-radius: 1rem;
    text-align: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
  }

  .add-manual-container h2 {
    background: #10305c;
    opacity: 0.8;
    border-radius: 1rem;
    color: white;
    font-size: 2.45rem;
    font-weight: bold;
    margin-bottom: 1rem;
    letter-spacing: 1px;
  }
  
  .add-manual-title {
    color: #10305c;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }
  
  .add-manual-button {
    display: block;
    width: 100%;
    background-color: #428bca;
    color: #fff;
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-manual-button:hover {
    background-color: #306fa5;
  }
  
  .add-manual-container form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #10305c;
  }
  
  .add-manual-container form input[type="text"],
  .add-manual-container form input[type="url"],
  .add-manual-container form textarea,
  .add-manual-container form select {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    font-size: 1rem;
    color: #333;
  }
  
  .add-manual-container form textarea {
    padding: 0px;
  }
  
  .add-manual-container form input[type="text"]:focus,
  .add-manual-container form input[type="url"]:focus,
  .add-manual-container form textarea:focus,
  .add-manual-container form select:focus {
    border-color: #10305c;
    outline: none;
  }
  
  .add-manual-message {
    text-align: center;
    padding: 0.75rem;
    margin-top: 1rem;
    border-radius: 0.4rem;
    font-weight: bold;
  }
  
  .add-manual-message.success {
    color: #3c763d;
    background-color: #dff0d8;
  }
  
  .add-manual-message.error {
    color: #a94442;
    background-color: #f2dede;
  }
  
  @media screen and (max-width: 600px) {
    .add-manual-container {
      width: 95%;
      padding: 1rem;
    }
  
    .add-manual-title {
      font-size: 1.3rem;
    }
  
    .add-manual-button {
      padding: 0.6rem;
      font-size: 0.9rem;
    }
  }
  
  @media screen and (max-height: 730px) {
    .add-manual-container {
      width: 95%;
      padding: 1rem;
    }
  
    .add-manual-title {
      font-size: 1.3rem;
    }
  
    .add-manual-button {
      padding: 0.6rem;
      font-size: 0.875rem;
    }
    .add-manual-container {
      margin: 1rem auto;
      max-width: 35rem;
      background-color: #ffffff;
      border: 1px solid #10305c;
      border-radius: 0.4rem;
      color: #333;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
  