.main-programas-container {
  justify-content: center;
  padding: 2rem;
  background: white;
  color: #333;
  border-radius: 1rem;
  text-align: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.main-programas {
  color: #333;
  font-size: 1.125rem;
  font-weight: 600;
  max-width: 90%;
  margin: 40px auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.icon-back {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 8px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.25rem;
  position: absolute;
  left: 20px;
  top: 2px;
}

.icon-back p {
  font-size: 1.125rem;
}

.icon-back p:hover {
  cursor: pointer;
}

.icon-back:hover {
  color: darkorange;
}

.add-programa-container h2 {
  background: #10305c;
  border-radius: 1rem;
  color: white;
  font-size: 2.45rem;
  font-weight: bold;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.main-programas-container h2 {
  opacity: 0.8;
  background: #10305c;
  border-radius: 1rem;
  color: white;
  font-size: 2.45rem;
  font-weight: bold;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.main-programas label,
.main-programas select,
.main-programas input[type="text"] {
  display: inline-block;
  margin: 5px 10px;
  font-size: 1em;
}

.main-programas select,
.main-programas input[type="text"] {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1em;
  width: auto;
  max-width: 200px;
  color: #838383;
}

.main-programas span {
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #42ca5f;
  padding: 10px;
  border-radius: 10px;
  margin-left: 20px;
  transition: 300ms;
}

.main-programas span:hover {
  background-color: #2f9b34;
}

.table-container {
  overflow-y: hidden;
  margin: auto;
  width: 90%;
  max-width: 60rem;
  border: 1px solid #105c58;
  border-radius: 12px;
}

.table-programas {
  width: 100%;
  border-collapse: collapse;
  color: #333;
}

.table-programas a {
  font-size: 1.125rem;
}


.table-programas thead {
  background-color: #105c58;
  color: #fff;
}

.table-programas thead th {
  padding: 0.75rem 1rem;
  text-align: center;
  align-items: center;
  font-weight: bold;
}

.table-programas thead,
.table-programas tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table-programas tbody {
  display: block;
  height: 50vh;
  max-height: 60vh;
  overflow-y: auto;
}

.table-programas tbody tr {
  border-top: 1px solid #ddd;
  background-color: #ffffff;
  font-family: monospace, sans-serif;
}

.table-programas td {
  padding: 0.75rem 1rem;
  text-align: center;
}

.table-programas tbody tr:hover {
  background-color: #fafafa;
}

@media screen and (max-width: 768px) {
  .table-programas {
    max-width: 60vh;
  }

  .main-programas {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .table-programas {
    max-height: 50vh;
    font-weight: bold;
    border: none;
  }

  .table-programas tbody tr:hover {
    background: #105c58;
  }
  
}
